/* Style for the submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #791c9e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Button hover effect */
button:hover {
    background-color: #51278d;
}